# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env
.env.*
!.env.example
.venv/
ENV/

# ===============================
# Caches (NLP / GenAI)
# ===============================
.cache/
*.pkl
*.joblib
*.npy

# ===============================
# Logs
# ===============================
*.log